body {
  background-image: url("https://raw.githubusercontent.com/DeltaEpiales/howdy/master/loading%20gif.gif");
  background-position: top;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 1500px, 1800px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://raw.githubusercontent.com/DeltaEpiales/howdy/master/Howdy%20background.jpg');
  background-size: cover;
  color: #ffffff;
  height: 850px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  height: 128px;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 10px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: rgb(0, 17, 71);
  text-shadow: none;
  background-color: #fff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: rgb(0, 17, 71);
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


